@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --red: red;
    --white:#fff;
    --dark:#1e1c2a;
}

body {
    color: var(--dark);
    background: var(--white);
}

.navegation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
}